<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMarkdown_Text_Editor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMarkdown_Text_Editor.My.MySettings>
            <setting name="langue" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="dernier" serializeAs="String">
                <value />
            </setting>
            <setting name="taille" serializeAs="String">
                <value>1</value>
            </setting>
        </DMarkdown_Text_Editor.My.MySettings>
    </userSettings>
</configuration>
